.searchBar {
  margin: 3rem;
  display: block;
}

.searchBar__input {
  width: 100%;
}

.characterList {
  margin: 0 auto;
  width: 90%;
}

.characterList__cards {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: space-between !important;
  align-items: center !important;
  margin: 0px auto !important;
  padding: 0px !important;
  max-width: 100% !important;
}
