.searchBar {
  margin: 3rem;
  display: block;
}

.searchBar__input {
  width: 100%;
}

.characterList {
  padding: 0px !important;
  margin: 0px !important;
  width: 100vw !important;
  margin-left: 3rem !important;
}
